<html>
  <head>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <style>
        body { margin:0; padding:0; }
        #map { width: 75%; height: 75%; }
    </style>
  <head>

  <body>
    <center>
      <h2>
        Drive from {{da}} airport to {{d}}. The cost of this portion of the journey is ${{c2}}, assuming a standard average MPG value.
      </h2>

      <div id="map">
      <script>
          L.mapbox.accessToken = '{{ACCESS_KEY}}';

          var map = L.mapbox.map('map', 'mapbox.streets', {
            scrollWheelZoom: false,
            zoomControl: true
          }).setView({{thisorigin}}, 10);
          L.mapbox.featureLayer({{ route_data|safe }}).addTo(map);
      </script>
      </div>
      </center>
  </body>
</html>
