<html>
  <head>
    <p>The totalcost of the whole shown route is {{totalcost}}</p>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Drive</h5>
            <p class="card-text">Drive from {{o}} to {{oa}} airport</p>
            <a href="/carorigin" class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Take a flight</h5>
            <p class="card-text">Take a flight from {{oa}} to {{da}}</p>
            <a href="/flights">Know more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Drive</h5>
            <p class="card-text">Drive from {{da}} to {{d}}</p>
            <a href="/cardestination" class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
