<html>
  <head>
    <p>The totalcost of the whole shown route is {{totalcost}}</p>
    <meta charset="UTF-8">
    <title>Travel4All</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.nunki.com.au/projekte/fly365/assets/css/fly365.css" />
    <link rel="stylesheet" href="https://www.nunki.com.au/projekte/fly365/assets/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,700" rel="stylesheet">
    <script src="https://www.nunki.com.au/projekte/fly365/assets/js/bootstrap-slider.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Drive</h5>
            <p class="card-text">Drive from {{o}} to {{oa}} airport</p>
            <a href="/carorigin" class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Take a flight</h5>
            <p class="card-text">Take a flight from {{oa}} to {{da}}</p>
            <a href="/flights">Know more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Drive</h5>
            <p class="card-text">Drive from {{da}} to {{d}}</p>
            <a href="/cardestination" class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
