<html>
    <head>
        <title>Travel4All</title>
        <link rel ="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <meta name = "viewport" content ="width=device-width , initial-scale:1.0">
        <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <img src="./static/images/b6f4f440-7d84-42e9-9608-90764cdafffb_200x200 (1).png" class="logo">
        <section class = "header">
            <div class= "container">
                <div class = "message">
                  <h1>Welcome to Travel4All.</h1>
                </div>
                <div class="center">
                    <a href="/landingpage">
                      <button type="submit" class="fly-btn">
                        Let's fly!
                      </button>
                    </a>
                </div>

                <div class="center1">
                    <a href="/drivepage">
                     <button type="submit" class="drive-btn">
                        Let's drive!
                     </button>
                    </a>
                </div>

            </div>
        </section>

    </body>
</html>
